html
  head
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/styles2.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
.sidenav
  .login-main-text
    h2
      | Application
      br
      |  Forgot Your Password
    p  Enter Your Email
.main
  .col-md-6.col-sm-12
   form(method='POST' action='/forgot_password')
    .login-form
      form
        .form-group
          label Enter your Email
          input.form-control(type='text', placeholder='Enter Email',name="Email")
        button.btn.btn-secondary(type='submit') Send Password
