     
body#list
nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-dark
     a.navbar-brand LIBRARY
     button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
     #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav
           li.nav-item
             a.nav-link(href='/add_books')
               | Add books 
               span.sr-only (current)
           li.nav-item
              a.nav-link(href='/list_students') List of students
            li.nav-item.active
              a.nav-link(href='/new_arrivals') New Arrivals
           li.nav-item
              a.nav-link(href='/list_books_librarian') List of books  
            li.nav-item
              a.nav-link(href='/') Log Out   
            li#right  
             form.form-inline.my-2.my-lg-0(method="GET",action='/search_students')
               input.form-control.mr-sm-2(type='search', placeholder='Search Email', aria-label='Search',name="Email")
               button.btn.btn-outline-success.my-2.my-sm-0(type='submit',href='/new_arrivals') Search  
h1 New Arrivals
 link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
 link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
 link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/styles.css')
 br
 br
 table.table.table-fit.table.table-striped.table-dark.w-auto
  thead
    tr
        th Book Name
        th Book Publisher
    
     tbody
      for book,i in list
         tr
           td #{book.Book_Name}
           td #{book.Book_Publisher}

          